body{
    background-color: palevioletred;
}
#container{
    margin: auto 0;
    width: 50%;
    background-color: seashell;
    justify-content: center;
}
.incomplete{
    background-color: teal;
    color: red;
}
.complete{
color: seagreen;
}
.add{

    width: 90%;
    margin: auto 0;
}
.completeClass{
    text-decoration: line-through;
}
.completeClass .butt{
    display: none;
}
.removeTask{
    display: none;
    color: green;
}